@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Playfair+Display:wght@400;600&family=Recursive:wght@300;400;500&display=swap');

:root {
  --form-control-color: black;
}

body{
  height: 100vh;
}

#clock-div{
  border-bottom: 1px solid white;
  border-left: .5px solid white;
  border-right: .5px solid white;
  border-radius: 5%;
  backdrop-filter: blur(10px);
  background: linear-gradient(to top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
  height: 50vh;
  width: 75vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#clock-select{
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
  background-color: rgba(255,255,255, .4)
}

.nothing {
  box-shadow: 1px 1px 2px 1px white inset;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid white;
}

.clocks-app {
  font-family: 'Major Mono Display', monospace;
}

.main-nav ul li {
  font-family: 'Playfair Display', serif;
}

.hero h1 {
  font-family: 'Major Mono Display', monospace;
}

.hero h2 {
  font-family: 'Playfair Display', serif;
}

.clock-select {
  font-family: 'Playfair Display', serif;
}

.clock-faces {
  font-family: 'Major Mono Display', monospace;
}

.clock-face {
  color: #ff0000;
}

footer p {
  font-family: 'Playfair Display', serif;
}

.aboutbar {
  width: 80vw;
  height: 100vh;
  background-color: rgba(30, 34, 44, .90);
  padding: 2rem;
  transition: transform 0.5s ease-in-out;
  font-family: 'Playfair Display', serif;
}

.aboutbar p {
  padding-bottom: 1.5rem;
}

.aboutbar.closed {
  transform: translateX(-80vw);
}
